
.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1024px;
    height: 144px;
    border-bottom: 3px solid var(--brand-2);
    position: fixed; 
    top: 0; 
    z-index: 1000;  
    background-color: white;
}



.header_title span {
    color:var(--brand-1);    
}