.filterByPrice_container{
    display: flex;  
    flex-direction: column;      
    align-items: center;
    justify-content: space-between;
    height: 51px;      
}

.filterByPrice_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100vw;
    color: var(--grey-2);
}

.filterByPrice_title span {
    color:var(--brand-1);
}

.price_range {
    -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: var(--brand-1);
  border-radius: 0.5rem;
  height: 0.5rem;
}

#priceRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5rem solid var(--brand-1); 
  }